body {
	font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	line-height: 50px;
	font-weight: 100;
	overflow-x: hidden;
}
#body {
	background-color: rgba(0,255,0,0.5);
	z-index: 0;
}
#navigation {
	background-color: rgba(0,0,0,0.1);
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 99;
}
#navigation #btn {
	width: 40px;
	height: 30px;
	position: fixed;
	padding: 10px 5px;
	cursor: pointer;
}
#navigation #btn .line {
	background-color: rgba(0,0,0,0.5);
	width: 24px;
	height: 3px;
	margin: 5px 8px;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 1px 1px 3px;
}
.box-shadow {
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px 0px;
}
#navigation #btn .text {
	width: 250px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	left: 50px;
	top: 0px;
	display: none;
}
#navigation #list {
	position: relative;
	left: -300px;
	display: none;
	position: fixed;
	top: 50px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px 0px inset;
}
#navigation #list ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#navigation #list ul li a {
	background-color: rgba(255, 255, 255, 0.5);
	display: block;
	width: 280px;
	text-decoration: none;
	padding-left: 20px;
	color: rgba(0,0,0,1);
	transition: background-color 0.3s;
}
#navigation #list ul li a:hover {
	background-color: rgba(41, 128, 185, 1);
}
