body {
	font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	line-height: 50px;
	font-weight: 100;
	overflow: hidden;
}
#body {
	background-color: #2ecc71;
	z-index: 0;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 10px 0px;
}
input {
	font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", sans-serif;
	font-size: 24px;
	line-height: 50px;
	font-weight: 100;
	padding: 0px;
	margin: 0;
	height: 50px;
	border: 0px;
}
input[type="range"] {
	height: 20px;
	width: 100px;
}
input[type="number"] {
	width: 100px;
}
.button {
	background-color: rgba(50, 50, 50, 1);
	color: rgba(255, 255, 255, 1);
	border: 0px;
	margin: 0;
	text-decoration: none;
	transition: background-color 0.3s;
	padding: 0px 10px;
}
.button:hover {
	background-color: rgba(41, 128, 185, 1);
}
#navigation {
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 99;
	background-color: rgba(0,0,0,0.1);
}
#navigation .btn {
	width: 40px;
	height: 30px;
	position: fixed;
	padding: 10px 5px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.3s;
}
#navigation .btn .line {
	background-color: rgba(0,0,0,0.5);
	width: 24px;
	height: 3px;
	margin: 5px 8px;
	border-radius: 5px;
	transition: background-color 0.3s;
}
#navigation .btn .text {
	width: 250px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	left: 50px;
	top: 0px;
	display: none;
	color: rgba(0,0,0,1);
	transition: background-color 0.3s,color 0.3s;
}
#navigation .btn:hover {
	background-color: rgba(41, 128, 185, 1);
}
#navigation .btn:hover .text {
	background-color: rgba(41, 128, 185, 1);
	color: rgba(255,255,255,1);
}
#navigation .btn:hover .line {
	background-color: rgba(255,255,255,1);
}
#navigation .list {
	position: relative;
	position: fixed;
	top: 50px;
	display: none;
}
#navigation .list ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#navigation .list ul li {
	position: relative;
	left: -300px;
	box-shadow: rgba(0,0,0,0.5) -1px -1px 1px 0px inset;
}
#navigation .list ul li a {
	background-color: rgba(255, 255, 255, 0.5);
	display: block;
	width: 280px;
	text-decoration: none;
	padding-left: 20px;
	color: rgba(0,0,0,1);
	transition: background-color 0.3s,color 0.3s;
}
#navigation .list ul li a:hover {
	background-color: rgba(41, 128, 185, 1);
	color: rgba(255,255,255,1);
}
