/**
 * @since 150501 16:13
 * @author vivaxy
 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: 12px/1.5 STHeiti, 'Microsoft YaHei', tahoma, arial, \5b8b\4f53;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of css reset*/
body {
    background: #eee;
}

a, a:visited {
    display: block;
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 48px;
    width: 100%;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}

a span {
    display: block;
    height: 32px;
    width: 100%;
    line-height: 32px;
    font-size: 16px;
    font-weight: 100;
    color: #333;
    margin: 8px 0 8px 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}
