body {
    margin: 0;
    padding: 0;
    background: rgb(236, 240, 241);
    line-height: 0;
    font-size: 0;
}

a {
    padding: 0 10px;
    font-size: 24px;
    line-height: 48px;
    font-weight: 100;
    outline: none;
    border-radius: 1px;
    display: inline-block;
    height: 48px;
    background: rgb(26, 188, 156);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    transition: background 0.5s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a:hover {
    background: rgb(22, 160, 133);
}

@media screen and (max-width: 600px) {
    a {
        display: block;
    }
}
