<?xml version="1.0" encoding="utf-8"?>
<menu>
	<name>Animated Menu</name><link>AnimatedMenu</link>
	<name>comment j ai rate ma vie</name><link>comment-j-ai-rate-ma-vie</link>
	<name>Draw Function Image</name><link>draw-function-image</link>
	<name>Balls</name><link>balls</link>
	<name>QRCode</name><link>qrcode</link>
	<name>Renju</name><link>renju</link>
	<name>Scratch</name><link>scratch</link>
	<name>Snake</name><link>snake</link>
	<name>Bubble Sort</name><link>BubbleSort/index.html?number=30&amp;interval=300</link>
	<name>Quick Sort</name><link>QuickSort/index.html?number=10&amp;interval=1000</link>
	<name>Minefield</name><link>minefield/index.html?row=10&amp;col=10&amp;size=30&amp;mine=5</link>
</menu>
