body {
	background-color: #000000;
}
.textArea {
	position: fixed;
	text-align: center;
	color: #ffffff;
	font-size: 100px;
	text-shadow: rgba(255,255,255,1) 0px 0px 100px;
}
.textArea span {
	animation-name: rotate;
	animation-duration: 10s;
	animation-fill-mode: both;
	
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 10s;
	-webkit-animation-fill-mode: both;
	
	-ms-animation-name: rotate;
	-ms-animation-duration: 10s;
	-ms-animation-fill-mode: both;
	
	-moz-animation-name: rotate;
	-moz-animation-duration: 10s;
	-moz-animation-fill-mode: both;
}
.t1 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-moz-animation-delay: 0s;
}
.t2 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-moz-animation-delay: 1s;
}
.t3 {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-moz-animation-delay: 2s;
}
.t4 {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-moz-animation-delay: 3s;
}
.t5 {
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	-moz-animation-delay: 4s;
}
.t6 {
	animation-delay: 5s;
	-webkit-animation-delay: 5s;
	-ms-animation-delay: 5s;
	-moz-animation-delay: 5s;
}
.t7 {
	animation-delay: 6s;
	-webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	-moz-animation-delay: 6s;
}
@keyframes rotate {
	0%   {transform:rotateY(90deg);}
	100% {transform:rotateY(0deg);}
}
@-webkit-keyframes rotate {
	0%   {-webkit-transform:rotateY(90deg);}
	100% {-webkit-transform:rotateY(0deg);}
}
@-ms-keyframes rotate {
	0%   {-ms-transform:rotateY(90deg);}
	100% {-ms-transform:rotateY(0deg);}
}
@-moz-keyframes rotate {
	0%   {-moz-transform:rotateY(90deg);}
	100% {-moz-transform:rotateY(0deg);}
}
