.menu {
	position: fixed;
	right: 0px;
	bottom: 0px;
}
.menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.menu ul li {
	position: relative;
	height: 30px;
}
.menu ul li a {
	display: block;
}
.menu ul li ul {
	display: none;
}
.menu ul li:hover ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.menu ul li:hover #minions {
	position: relative;
	right: -90px;
	top: 30px;
	z-index: 99;
}
.menu ul li:hover ul li {
	position: relative;
	top: -0px;
	left: -0px;
	float: left;
}
.menu ul li:hover ul li a {
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	display: block;
	background-color: #323232;
	color: #FFFFFF;
	height: 30px;
	width: 30px;
}
.menu ul li:hover ul li a#spe {
	width: 90px;
}
.menu ul li:hover ul li a:hover {
	background-color: #2980b9;
}