body {
	margin: 0px;
	overflow:hidden;
}
table, td, tr {
	border-spacing:0px;
	padding: 0px;
}
.block {
	display: block;
}
.menu {
	font-family: Microsoft YaHei;
	font-size: 15px;
}
#body {
	position: fixed;
}
