.insetText {
	position: absolute;
	overflow: hidden;
}
.insetText span {
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 50px;
	text-shadow: rgba(0,0,0,1) 0px 3px 3px;
	animation: rock 0.1s;
	-webkit-animation: rock 0.1s;
	-ms-animation: rock 0.1s;
	-moz-animation: rock 0.1s;
}
@keyframes rock
{
	0% {top: -5px}
	20% {top: 4px}
	40% {top: -3px}
	60% {top: 2px}
	80% {top: -1px}
	100% {top: 0px}
}
@-webkit-keyframes rock
{
	0% {top: -5px}
	20% {top: 4px}
	40% {top: -3px}
	60% {top: 2px}
	80% {top: -1px}
	100% {top: 0px}
}
@-ms-keyframes rock
{
	0% {top: -5px}
	20% {top: 4px}
	40% {top: -3px}
	60% {top: 2px}
	80% {top: -1px}
	100% {top: 0px}
}
@-moz-keyframes rock
{
	0% {top: -5px}
	20% {top: 4px}
	40% {top: -3px}
	60% {top: 2px}
	80% {top: -1px}
	100% {top: 0px}
}
.insetText span:hover {
	top: -5px;
	text-shadow: rgba(0,0,0,1) 0px 8px 8px;
	transition: all 0.3s;
}